<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sukses ditambahkan</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>

    <script>
        var timer = setTimeout(function() {
            window.location='http://localhost:8080/'
        }, 3000);
    </script>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar('SIPEG')"></nav>

<h2>Data berhasil ditambahkan</h2>

<h3>Anda akan segera diredirect</h3>

<style>
    h2 {
        text-align:center;
    }
    h3{
        text-align: center;
    }
</style>

</body>
</html>