<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cari Pegawai</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar('Cari Pegawai')"></nav>
<h3>Cari Pegawai</h3>
<form method="get" th:action="@{pegawai/cari}">
<select id="provinsi" name="idProvinsi">
    <option  th:value="0" selected="selected" >-- Pilih Provinsi --</option>
    <option th:each="provinsi : ${listProvinsi}"
            th:value="${provinsi.id}"
            th:text="${provinsi.nama}"></option>
</select>
<br>
Instansi: <br>

<select
        id="instansi"
        name="idInstansi"
        required="required">
    <option th:value="0" selected="selected">-- Pilih Instansi --</option>
</select>
<br>
Jabatan: <br>

    <select
            id="jabatan"
            name="idJabatan">
        <option th:value="0" text="-- Pilih Jabatan --"></option>
        <option th:each="jabatan : ${listJabatan}"
                th:value="${jabatan.id}"
                th:text="${jabatan.nama}"></option>

    </select>

    <br><br>
    <button type="submit" class="btn btn-primary">Cari</button>

</form>
<br><br>

<table id="daftarPegawai"  class="display" style="width:100%">
    <thead>
    <tr>
        <th>NIP</th>
        <th>Nama</th>
        <th>Tempat Lahir</th>
        <th>Tanggal Lahir</th>
        <th>Tahun Masuk</th>
        <th>Nama Instansi</th>
        <th>Jabatan</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee,iterationStatus : ${pegawai}">
        <td><a th:href="@{/pegawai/?nip={nip}(nip=${employee.nip})}" th:text="${employee.nip}"></a></td>
        <td th:text="${employee.nama}" ></td>
        <td th:text="${employee.tempat_lahir}" ></td>
        <td th:text="${employee.tanggal_lahir}" ></td>
        <td th:text="${employee.tahun_masuk}" ></td>
        <td th:text="${employee.instansi.nama}" ></td>
        <div th:if="${jabatan!=null}">
        <td th:text="${jabatan.nama}" ></td>
        </div>
        <div th:unless="${jabatan!=null}">
            <td th:text="${employee.jabatanPegawaiModel[0].jabatan.nama}"></td>
        </div>
    </tr>
    </tbody>
</table>
<script>
    $('#provinsi').change(
        function() {

            $.getJSON("http://localhost:8080/instansi-list", {
                provinsiId : $(this).val(),
                ajax : 'true'
            }, function(data) {
                var html = '<option disabled="disabled" selected="selected">-- Pilih Instansi --</option>';
                var len = data.length;
                for (var i = 0; i < len; i++) {
                    html +=
                        '<option value= "'+ data[i].id +'" th:text="'+ data[i].nama +'">' + data[i].nama + '</option>';
                }
                $('#instansi').html(html);
            });
        });

    $(document).ready( function () {
        $('#daftarPegawai').DataTable();
    } );



</script>
</body>
</html>